nav {

  h1 {
    display: block;
    padding: 20px 0;
    text-align: center;
  }

  border-bottom: solid 2px black;
}


button.nodeReference {
  display: block;
  margin: 20px 30px;
  background-color: transparent;
  border: solid 2px black;
  outline: none;
  font-size: 24px;
}