@import "mixins";

nav {
  h1 {
    display: block;
    padding: 20px 0;
    text-align: center;
  }

  border-bottom: solid 2px black;
}

main {
  display: flex;

  div#nodeSidebar {
    float: left;
    button.nodeReference {
      display: block;
      position: relative;
      margin: 10px;
      padding: 0 5px;
      background-color: transparent;
      border: solid 2px black;
      outline: none;
      font-size: 24px;
    }
  }

  div#graphs {
    flex: 1;
  }

  div#actionSidebar {
    float: right;

    button.nodeAction {
      display: block;
      position: relative;
      margin: 10px;
      padding: 0 5px;
      background-color: transparent;
      border: solid 2px black;
      outline: none;
      font-size: 24px;
    }

    //role toggle button styling
    .tgl {
      display: none;
      &,
      &:after,
      &:before,
      & *,
      & *:after,
      & *:before,
      & + .tgl-btn {
        box-sizing: border-box;
        &::selection {
          background: none;
        }
      }

      + .tgl-btn {
        outline: 0;
        display: block;
        width: 4em;
        height: 2em;
        position: relative;
        &:after,
        &:before {
          position: relative;
          display: block;
          content: "";
          width: 50%;
          height: 100%;
        }

        &:after {
          left: 0;
        }

        &:before {
          display: none;
        }
      }

      &:checked + .tgl-btn:after {
        left: 50%;
      }
    }

    .tgl-flat {

      &#microbeSelector {
        @include tglColorize(#00e0ff, #aaa);
      }
      &#macrophageSelector {
        @include tglColorize(#a30000, #aaa);
      }
      &#connectionsSelector {
        @include tglColorize(#22aa00, #aaa);
      }
      &#godsnodeSelector {
        @include tglColorize(#600094, #aaa);
      }

      + .tgl-btn {
        margin: auto;
        padding: 2px;
        transition: all .2s ease;
        background: #fff;
        border-radius: 2em;
        &:after {
          transition: all .2s ease;
          content: "";
          border-radius: 1em;
        }
      }

      &:checked + .tgl-btn {
        border: 4px solid #f00 ;
        &:after {
          left: 50%;
          background: #f00;
        }
      }
    }
  }
}