@mixin tglColorize($fg, $bg) {
  & + .tgl-btn {
    border: 4px solid mix($bg, $fg, 90%);
    &:after {
      background: mix(white, $fg, 70%);
    }
  }

  &:checked + .tgl-btn {
    border: 4px solid mix(black, $fg, 10%);
    &:after {
      background: mix(white, $fg, 3%);
    }
  }
}
