header {
  border-bottom: solid 2px black; }
  header h1 {
    display: block;
    padding: 20px 0;
    text-align: center; }
  header p {
    text-align: center;
    color: #4A4A4A; }

main div#networkDashboard {
  display: flex;
  flex-direction: row; }
  main div#networkDashboard div#nodeSidebar {
    float: left;
    width: 175px;
    text-align: center;
    color: #4A4A4A; }
    main div#networkDashboard div#nodeSidebar button {
      margin: 10px 0;
      margin-right: auto;
      display: block;
      position: relative;
      padding: 0 5px;
      background-color: transparent;
      border: solid 2px black;
      outline: none;
      font-size: 24px; }
      main div#networkDashboard div#nodeSidebar button.nodeReference {
        color: #4A4A4A; }
      main div#networkDashboard div#nodeSidebar button.microbe {
        color: #00e0ff; }
      main div#networkDashboard div#nodeSidebar button.macrophage {
        color: #f00; }
    main div#networkDashboard div#nodeSidebar h2, main div#networkDashboard div#nodeSidebar p {
      margin-left: 25px;
      color: #4A4A4A; }
  main div#networkDashboard div#networkGraph {
    flex: 1; }
    main div#networkDashboard div#networkGraph > * {
      width: 100%;
      height: 100%; }
  main div#networkDashboard div#actionSidebar {
    float: right;
    color: #4A4A4A;
    text-align: center; }
    main div#networkDashboard div#actionSidebar button.nodeAction {
      margin: 10px 0;
      margin-left: auto;
      color: #4A4A4A;
      display: block;
      position: relative;
      background-color: transparent;
      border: solid 2px #4A4A4A;
      outline: none;
      font-size: 24px; }
    main div#networkDashboard div#actionSidebar .tgl {
      display: none; }
      main div#networkDashboard div#actionSidebar .tgl, main div#networkDashboard div#actionSidebar .tgl:after, main div#networkDashboard div#actionSidebar .tgl:before,
      main div#networkDashboard div#actionSidebar .tgl *,
      main div#networkDashboard div#actionSidebar .tgl *:after,
      main div#networkDashboard div#actionSidebar .tgl *:before,
      main div#networkDashboard div#actionSidebar .tgl + .tgl-btn {
        box-sizing: border-box; }
        main div#networkDashboard div#actionSidebar .tgl::selection, main div#networkDashboard div#actionSidebar .tgl:after::selection, main div#networkDashboard div#actionSidebar .tgl:before::selection,
        main div#networkDashboard div#actionSidebar .tgl *::selection,
        main div#networkDashboard div#actionSidebar .tgl *:after::selection,
        main div#networkDashboard div#actionSidebar .tgl *:before::selection,
        main div#networkDashboard div#actionSidebar .tgl + .tgl-btn::selection {
          background: none; }
      main div#networkDashboard div#actionSidebar .tgl + .tgl-btn {
        outline: 0;
        display: block;
        width: 4em;
        height: 2em;
        position: relative; }
        main div#networkDashboard div#actionSidebar .tgl + .tgl-btn:after, main div#networkDashboard div#actionSidebar .tgl + .tgl-btn:before {
          position: relative;
          display: block;
          content: "";
          width: 50%;
          height: 100%; }
        main div#networkDashboard div#actionSidebar .tgl + .tgl-btn:after {
          left: 0; }
        main div#networkDashboard div#actionSidebar .tgl + .tgl-btn:before {
          display: none; }
      main div#networkDashboard div#actionSidebar .tgl:checked + .tgl-btn:after {
        left: 50%; }
    main div#networkDashboard div#actionSidebar .tgl-flat#microbeSelector + .tgl-btn {
      border: 4px solid #99afb3; }
      main div#networkDashboard div#actionSidebar .tgl-flat#microbeSelector + .tgl-btn:after {
        background: #b3f6ff; }
    main div#networkDashboard div#actionSidebar .tgl-flat#microbeSelector:checked + .tgl-btn {
      border: 4px solid #00cae6; }
      main div#networkDashboard div#actionSidebar .tgl-flat#microbeSelector:checked + .tgl-btn:after {
        background: #08e1ff; }
    main div#networkDashboard div#actionSidebar .tgl-flat#macrophageSelector + .tgl-btn {
      border: 4px solid #a99999; }
      main div#networkDashboard div#actionSidebar .tgl-flat#macrophageSelector + .tgl-btn:after {
        background: #e3b3b3; }
    main div#networkDashboard div#actionSidebar .tgl-flat#macrophageSelector:checked + .tgl-btn {
      border: 4px solid #930000; }
      main div#networkDashboard div#actionSidebar .tgl-flat#macrophageSelector:checked + .tgl-btn:after {
        background: #a60808; }
    main div#networkDashboard div#actionSidebar .tgl-flat#connectionsSelector + .tgl-btn {
      border: 4px solid #9caa99; }
      main div#networkDashboard div#actionSidebar .tgl-flat#connectionsSelector + .tgl-btn:after {
        background: #bde6b3; }
    main div#networkDashboard div#actionSidebar .tgl-flat#connectionsSelector:checked + .tgl-btn {
      border: 4px solid #1f9900; }
      main div#networkDashboard div#actionSidebar .tgl-flat#connectionsSelector:checked + .tgl-btn:after {
        background: #29ad08; }
    main div#networkDashboard div#actionSidebar .tgl-flat#godsnodeSelector + .tgl-btn {
      border: 4px solid #a399a8; }
      main div#networkDashboard div#actionSidebar .tgl-flat#godsnodeSelector + .tgl-btn:after {
        background: #cfb3df; }
    main div#networkDashboard div#actionSidebar .tgl-flat#godsnodeSelector:checked + .tgl-btn {
      border: 4px solid #560085; }
      main div#networkDashboard div#actionSidebar .tgl-flat#godsnodeSelector:checked + .tgl-btn:after {
        background: #650897; }
    main div#networkDashboard div#actionSidebar .tgl-flat + .tgl-btn {
      margin: auto;
      padding: 2px;
      transition: all .2s ease;
      background: #fff;
      border-radius: 2em; }
      main div#networkDashboard div#actionSidebar .tgl-flat + .tgl-btn:after {
        transition: all .2s ease;
        content: "";
        border-radius: 1em; }
    main div#networkDashboard div#actionSidebar .tgl-flat:checked + .tgl-btn {
      border: 4px solid #f00; }
      main div#networkDashboard div#actionSidebar .tgl-flat:checked + .tgl-btn:after {
        left: 50%;
        background: #f00; }

main div#messageGraph {
  overflow-x: auto;
  text-align: center; }
  main div#messageGraph svg {
    min-width: 400px;
    min-height: 400px; }
